<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <validation-component 
      :errors="errors"
    ></validation-component>
    <form-component ref="formMember"
      :form_type="form_type"
      :member="member"
      @add="tambahMember"
      @edit="editMember"
      @upload="uploadPhoto"
      @reset="resetForm"
    ></form-component>
    <br><br>
    <member-component
      v-for="member in members"
      :key="member.id"
      :member="member"
      @choose="choose"
      @remove="hapusMember"
    ></member-component>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var ValidationComponent = {
      props: ['errors'],
      template: `
      <p v-if="errors.length">
        <b>Please correct the following errors : </b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>
      `
    }

    var FormComponent = {
      props: ['form_type', 'member'],
      template: `
      <form>
        <label>Name : </label>
        <input type="text" ref="name" v-model="member.name" :disabled="form_type === 'upload'">
        <br>
        <label>Address : </label>
        <input type="text" ref="address" v-model="member.address" :disabled="form_type === 'upload'">
        <br>
        <label>No. Phone : </label>
        <input type="text" ref="no_hp" v-model="member.no_hp" :disabled="form_type === 'upload'">
        <br>
        <input v-if="form_type === 'upload'" type="file" ref="photo"> <br>
        <input v-if="form_type === 'add'" @click.prevent="$emit('add')" type="submit" value="SUBMIT">
        <input v-if="form_type === 'update'" @click.prevent="$emit('edit')" type="submit" value="UPDATE"> 
        <input v-if="form_type === 'upload'" @click.prevent="$emit('upload')" type="submit" value="UPLOAD">
        <input v-if="form_type === 'update' || form_type === 'upload'" @click.prevent="$emit('reset')" type="submit" value="CANCEL">
      </form>
      `
    }

    var MemberComponent = {
      props: ['member'],
      template: `
      <table border="1">
        <tr>
          <td>
            <img width=150 :src="member.photo_profile ? 'http://demo-api-vue.sanbercloud.com' + member.photo_profile : 'https://dummyimage.com/16:9x1080'">
          </td>
          <td style="width: 450px;">
            <h4>Name: {{member.name}}</h4>
            <p>Address: {{member.address}}</p>
            <p>No_hp: {{member.no_hp}}</p>
          </td>
          <td>
            <button @click.prevent="$emit('choose', member, 'update')">Edit</button> ||
            <button @click.prevent="$emit('remove', member.id)">Delete</button> ||
            <button @click.prevent="$emit('choose', member, 'upload')">Upload Photo</button>
          </td>
        </tr>
      </table>
      `
    }

    const store = new Vuex.Store({
      state: {
        base_url: "http://demo-api-vue.sanbercloud.com",
        form_type: "add",
        id: null,
        errors: []
      },
      mutations: {
        resetErrors(state){
          state.errors = []
        },
        addError(state, payload){
          state.errors.push(payload)
        },
        setFormType(state, payload){
          state.form_type = payload
        },
        resetId(state){
          state.id = null
        },
        setId(state, payload){
          state.id = payload
        }
      },
    })

    var vm = new Vue({
      el: '#app',
      components: {
        'validation-component': ValidationComponent,
        'form-component': FormComponent,
        'member-component': MemberComponent
      },
      store,
      data: {
        members: [],
        member: {
          name: "",
          address: "",
          no_hp: ""
        },
      },
      created(){
        this.ambilDataMember()
      },
      computed: {
        errors(){
          return this.$store.state.errors
        },
        base_url() {
          return this.$store.state.base_url
        },
        form_type() {
          return this.$store.state.form_type
        },
        id(){
          return this.$store.state.id
        }
      },
      methods: {
        resetForm() {
          this.$store.commit('resetErrors')
          this.$store.commit('resetId')
          this.$store.commit('setFormType', 'add')
          this.member = {}
        },

        validationForm() {
          this.$store.commit('resetErrors')
          if (this.member.name.length < 5){
            this.$store.commit('addError', 'Name minimal 5 karakter')
            this.$refs.formMember.$refs.name.focus()
          }

          if (this.member.address.length < 15){
            this.$store.commit('addError', 'Address minimal 15 karakter')
            this.$refs.formMember.$refs.address.focus()
          }

          if (this.member.no_hp.length < 10 || this.member.no_hp.length > 13){
            this.$store.commit('addError', 'Phone number between 10 and 13 karakter')
            this.$refs.formMember.$refs.no_hp.focus()
          }
        },

        choose(member, type) {
          this.$store.commit('resetErrors')
          this.$store.commit('setId', member.id)
          this.$store.commit('setFormType', type)
          this.member = {
            name: member.name,
            address: member.address,
            no_hp: member.no_hp
          }
        },

        async ambilDataMember(){
          try {
            const response = await axios.get(`${this.base_url}/api/member`)
            this.members = response.data.members
          } catch (error) {
            console.log(error)
          }
        },

        async tambahMember() {
          try {
            this.validationForm()
            if (this.errors.length === 0) {
              const results = await axios.post(`${this.base_url}/api/member`, this.member)
              this.resetForm()
              this.ambilDataMember()
              alert('Success insert new member')
            }
          } catch(error) {
            console.log(error)
          }
        },
        
        async hapusMember(id) {
          try {
            await axios.post(`${this.base_url}/api/member/${id}?_method=DELETE`)
            this.ambilDataMember()
            alert(`Success delete member with id ${id}`)
          } catch(error) {
            console.log(error)
          }
        },

        async editMember() {
          try {
            this.validationForm()
            if (this.errors.length === 0) {
              await axios.post(`${this.base_url}/api/member/${this.id}?_method=PUT`, this.member)
              this.resetForm()
              this.ambilDataMember()
              alert('Success edit member')
            }
          } catch(error) {
            console.log(error)
          }
        },

        async uploadPhoto() {
          try {
            const photo_profile = this.$refs.formMember.$refs.photo.files[0]
            const formData = new FormData()
            formData.set('photo_profile', photo_profile)

            await axios.post(`${this.base_url}/api/member/${this.id}/upload-photo-profile`, formData)
            this.resetForm()
            this.ambilDataMember()
            alert('Success upload photo')
          } catch(error) {
            console.log(error)
          }
        }
      }
    });
  </script>
</body>
</html>