<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
      <p v-if="errors.length">
        <b>Please correct the following errors : </b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>
      <label>Name : </label>
      <input type="text" ref="name" v-model="newMember.name" :disabled="formType === 'upload'">
      <br>
      <label>Address : </label>
      <input type="text" ref="address" v-model="newMember.address" :disabled="formType === 'upload'">
      <br>
      <label>No. Phone : </label>
      <input type="text" ref="no_hp" v-model="newMember.no_hp" :disabled="formType === 'upload'">
      <br>
      <input v-if="formType === 'upload'" type="file" ref="photo"> <br>
      <input v-if="formType === 'add'" @click.prevent="tambahMember()" type="submit" value="SUBMIT">
      <input v-if="formType === 'update'" @click.prevent="editMember()" type="submit" value="UPDATE"> 
      <input v-if="formType === 'upload'" @click.prevent="uploadPhoto()" type="submit" value="UPLOAD">
      <input v-if="formType === 'update' || formType === 'upload'" @click.prevent="resetForm()" type="submit" value="CANCEL">
    </form>
    <br><br>
    <table border=1>
      <tr v-for="member in members">
        <td>
          <img width=100 :src="member.photo_profile ? baseUrl + member.photo_profile : 'https://dummyimage.com/16:9x1080'">
        </td>
        <td>
          <b>Name : </b>{{ member.name }}<br>
          <b>Address : </b>{{ member.address }}<br>
          <b>Phone : </b>{{ member.no_hp }}<br>
        </td>
        <td>
          <button @click.prevent="choose(member, 'update')">Edit</button> ||
          <button @click.prevent="hapusMember(member.id)">Delete</button> ||
          <button @click.prevent="choose(member, 'upload')">Upload Photo</button>
        </td>
      </tr>
    </table>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        baseUrl: "http://demo-api-vue.sanbercloud.com",
        formType: "add",
        errors: [],
        members: [],
        newMember: {
          name: "",
          address: "",
          no_hp: ""
        },
        id: null
      },
      created(){
        this.ambilDataMember()
      },
      methods: {
        resetForm() {
          this.errors = []
          this.newMember = {}
          this.id = null,
          this.formType = 'add'
        },

        validationForm() {
          this.errors = []
          if (this.newMember.name.length < 5){
            this.errors.push('Name minimal 5 karakter')
            this.$refs.name.focus()
          }

          if (this.newMember.address.length < 15){
            this.errors.push('Address minimal 15 karakter')
            this.$refs.address.focus()
          }

          if (this.newMember.no_hp.length < 10 || this.newMember.no_hp.length > 13){
            this.errors.push('Phone number between 10 and 13 karakter')
            this.$refs.no_hp.focus()
          }
        },

        choose(member, type) {
          this.errors = []
          this.formType = type
          this.id = member.id
          this.newMember = {
            name: member.name,
            address: member.address,
            no_hp: member.no_hp
          }
        },

        async ambilDataMember(){
          try {
            const response = await axios.get(`${this.baseUrl}/api/member`)
            this.members = response.data.members
          } catch (error) {
            console.log(error)
          }
        },

        async tambahMember() {
          try {
            this.validationForm()
            if (this.errors.length === 0) {
              const results = await axios.post(`${this.baseUrl}/api/member`, this.newMember)
              this.resetForm()
              this.ambilDataMember()
              alert('Success insert new member')
            }
          } catch(error) {
            console.log(error)
          }
        },
        
        async hapusMember(id) {
          try {
            await axios.post(`${this.baseUrl}/api/member/${id}?_method=DELETE`)
            this.ambilDataMember()
            alert(`Success delete member with id ${id}`)
          } catch(error) {
            console.log(error)
          }
        },

        async editMember() {
          try {
            this.validationForm()
            if (this.errors.length === 0) {
              await axios.post(`${this.baseUrl}/api/member/${this.id}?_method=PUT`, this.newMember)
              this.resetForm()
              this.ambilDataMember()
              alert('Success edit member')
            }
          } catch(error) {
            console.log(error)
          }
        },

        async uploadPhoto() {
          try {
            const photo_profile = this.$refs.photo.files[0]
            const formData = new FormData()
            formData.set('photo_profile', photo_profile)

            await axios.post(`${this.baseUrl}/api/member/${this.id}/upload-photo-profile`, formData)
            this.resetForm()
            this.ambilDataMember()
            alert('Success upload photo')
          } catch(error) {
            console.log(error)
          }
        }
      }
    });
  </script>
</body>
</html>