<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" name="keyword" v-model="keyword" placeholder="ketikkan kata kunci">
    <ul>
      <li v-for="book in filteredBooks"> {{ book }}</li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        keyword: null,
        books : ['Kalkulus Dasar', 
                 'Fisika Dasar', 
                 'Aljabar Linier Elementer',
                 'Aljabar Abstrak',
                 'Algoritma Pemrograman']
      },
      computed: {
        filteredBooks(){
          if (this.keyword) {
          return this.books.filter((book) => {
            return this.keyword.toLowerCase().split(' ').every(part => book.toLowerCase().includes(part))
          })
          } else {
            return this.books;
          }
        }
      }
  });
  </script>
</body>
</html>