<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <br>
    <div v-for="(comment, index) in comments">
      <button @click="increaseScore(index)">+</button>
      <p>{{ comment.content }} || {{ comment.date }} || Score: {{ comment.score}}</p>
      <button @click="decreaseScore(index)">-</button>
    </div>
    <br>
    <textarea cols="50" rows="4" v-model.trim="content" @keyup.enter="addElement()"></textarea>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        content: '',
        comments: [
          { content: 'komentar 1 komentar 1 komentar 1', date: '29-07-2020', 'score': 0, 'prevScore': 0, hasVoted: false, vote: null },
          { content: 'komentar 2 komentar 2 komentar 2', date: '28-07-2020', 'score': 5, 'prevScore': 5, hasVoted: false, vote: null },
          { content: 'komentar 3 komentar 3 komentar 3', date: '27-07-2020', 'score': 5, 'prevScore': 5, hasVoted: false, vote: null }
        ]
      },
      methods: {
        resetContent(){
          this.content = ''
        },

        addElement(){
          const today = new Date()
          const dd = String(today.getDate()).padStart(2, '0')
          const mm = String(today.getMonth() + 1).padStart(2, '0')
          const yyyy = today.getFullYear();

          const dateString = dd + '-' + mm + '-' + yyyy;
          let newComment = {
            content: this.content,
            date: dateString,
            score: 0,
            prevScore: 0,
            hasVoted: false,
            vote: null
          }
          this.comments.push(newComment)
          this.resetContent()
        },

        undoVote(index){
          console.log(`comment ${index} undo vote`)
          this.comments[index].score = this.comments[index].prevScore
          this.comments[index].hasVoted = false
          this.comments[index].vote = null
        },

        increaseScore(index){
          if (!this.comments[index].hasVoted) { //belum pernah vote
            console.log(`comment ${index} vote up`)
            this.comments[index].score = this.comments[index].prevScore + 1
            this.comments[index].hasVoted = true
            this.comments[index].vote = 'up'
          } else { //sudah pernah vote
            if (this.comments[index].vote === 'up') { //sebelumnya vote up
              this.undoVote(index)
            } else if (this.comments[index].vote === 'down') {//sebelumnya vote down
              console.log(`comment ${index} change vote from down to up`)
              this.comments[index].score = this.comments[index].prevScore + 1
              this.comments[index].vote = 'up'
            }
          }
        },

        decreaseScore(index){
          if (!this.comments[index].hasVoted) { //belum pernah vote
            console.log(`comment ${index} vote down`)
            this.comments[index].score = this.comments[index].prevScore - 1
            this.comments[index].hasVoted = true
            this.comments[index].vote = 'down'
          } else { //sudah pernah vote
            if (this.comments[index].vote === 'down') { //sebelumnya vote down
              this.undoVote(index)
            } else if (this.comments[index].vote === 'up') {//sebelumnya vote up
              console.log(`comment ${index} change vote from up to down`)
              this.comments[index].score = this.comments[index].prevScore - 1
              this.comments[index].vote = 'down'
            }
          }
        }
      }
  });
  </script>
</body>
</html>