<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- <form @submit.prevent="processName()"> -->
      <input type="text" name="name" v-model.trim="name">
      <button v-if="isUpdate" @click="updateItem()">update</button>
      <button v-else @click="addItem()">add</button>
    <!-- </form> -->
    <ul>
      <li v-for="(user, index) in users"> {{ user.name }} <button @click="editItem(index)">Edit</button> || <button @click="deleteItem(index)">Delete</button></li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name: '',
        isUpdate: false,
        currentIndex: null,
        users : [
                  {'name': 'Sugeng Winanjuar'}, 
                  {'name': 'Retno Windasari'}, 
                  {'name': 'Fariz Ayyub'}
                ]
      },
      methods: {
        resetName(){
          this.name = ''
          this.isUpdate = false
          this.currentIndex = null
        },
        editItem(index){
          this.isUpdate = true
          this.currentIndex = index
          this.name = this.users[index].name
        },
        deleteItem(index){
          var result = confirm('Anda yakin?');
          if (result) {
            this.users.splice(index, 1);
          }
        },
        addItem(){
          let newUser = {'name': this.name}
          this.users.push(newUser)
          this.resetName()
        },
        updateItem(){
          this.users[this.currentIndex].name = this.name
          this.resetName()
        }
      },
  });
  </script>
</body>
</html>