body {
  background-color: #b5b5b5;
}

tbody {
  font-size: 16px;
  font-weight: 200;
  color: white;
}

.kartu {
  width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #685619;
  border: solid 2px #f9f9f9;
  border-radius: 24px;
}

.foto {
  padding: 24px;
  margin: 0 auto;
}

.judul {
  text-align: center;
  font-weight: bold;
}

.biodata {
  margin-top: 30px;
}
